

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Parkinsans:wght@300..800&display=swap');


*{
  margin:0;
  padding:0;
}



h1{
  font-family: "Parkinsans", sans-serif;
 color: brown;
 font-weight: 100;
}
.container{
  display: grid;
  grid-template-columns: repeat(3,300px);
  margin-left: 200px;
  gap:20px;
  justify-content: center;
  
  
}
.heading{
  
  margin-bottom: 100px;
  border-radius: 10px;
  margin-left: 250px;
}
.sub-heading{
  
  color: rgb(67, 67, 14);

  height: auto;
  width:auto;
  border-style: none;
  text-align: center;

}
.post-box{
  color: rgb(59, 59, 11);
  display:grid;
   grid-template-columns: auto;
   grid-template-rows: auto;
   margin-left: 200px;
}
input-title{
  justify-content: center;
  width:200px;
  height:100px;
}
.input-btn{
  height:100px;
  width:100px;
  
  background-color: rgb(54, 9, 9);
  border-style: none;
  color: rgb(217, 210, 202);
}
.post_title{
  color: rgb(110, 36, 36);
}
.postss{
  color: rgb(71, 11, 11);
  text-decoration: wavy;
}